src/META-INF/wsdl/localhost_8080/WSProyectoCaGuela3_4/CaGuela.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CaGuela/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CaGuela/" name="CaGuela">
<types>
<xsd:schema>
<xsd:import namespace="http://CaGuela/" schemaLocation="http://localhost:8080/WSProyectoCaGuela3_4/CaGuela?xsd=1"/>
</xsd:schema>
</types>
<message name="guardaPedido">
<part name="parameters" element="tns:guardaPedido"/>
</message>
<message name="guardaPedidoResponse">
<part name="parameters" element="tns:guardaPedidoResponse"/>
</message>
<message name="actualizaPedido">
<part name="parameters" element="tns:actualizaPedido"/>
</message>
<message name="actualizaPedidoResponse">
<part name="parameters" element="tns:actualizaPedidoResponse"/>
</message>
<message name="actualizaDireccion">
<part name="parameters" element="tns:actualizaDireccion"/>
</message>
<message name="actualizaDireccionResponse">
<part name="parameters" element="tns:actualizaDireccionResponse"/>
</message>
<message name="actualizaProducto">
<part name="parameters" element="tns:actualizaProducto"/>
</message>
<message name="actualizaProductoResponse">
<part name="parameters" element="tns:actualizaProductoResponse"/>
</message>
<message name="actualizaTipoEnvase">
<part name="parameters" element="tns:actualizaTipoEnvase"/>
</message>
<message name="actualizaTipoEnvaseResponse">
<part name="parameters" element="tns:actualizaTipoEnvaseResponse"/>
</message>
<message name="productosCompradosHabitualmente">
<part name="parameters" element="tns:productosCompradosHabitualmente"/>
</message>
<message name="productosCompradosHabitualmenteResponse">
<part name="parameters" element="tns:productosCompradosHabitualmenteResponse"/>
</message>
<message name="pedidosCliente">
<part name="parameters" element="tns:pedidosCliente"/>
</message>
<message name="pedidosClienteResponse">
<part name="parameters" element="tns:pedidosClienteResponse"/>
</message>
<message name="pedidosVendedor">
<part name="parameters" element="tns:pedidosVendedor"/>
</message>
<message name="pedidosVendedorResponse">
<part name="parameters" element="tns:pedidosVendedorResponse"/>
</message>
<message name="productosGamaVendedor">
<part name="parameters" element="tns:productosGamaVendedor"/>
</message>
<message name="productosGamaVendedorResponse">
<part name="parameters" element="tns:productosGamaVendedorResponse"/>
</message>
<message name="posicionesPendientesVendedor">
<part name="parameters" element="tns:posicionesPendientesVendedor"/>
</message>
<message name="posicionesPendientesVendedorResponse">
<part name="parameters" element="tns:posicionesPendientesVendedorResponse"/>
</message>
<message name="enviarPedido">
<part name="parameters" element="tns:enviarPedido"/>
</message>
<message name="enviarPedidoResponse">
<part name="parameters" element="tns:enviarPedidoResponse"/>
</message>
<message name="enviarPosicion">
<part name="parameters" element="tns:enviarPosicion"/>
</message>
<message name="enviarPosicionResponse">
<part name="parameters" element="tns:enviarPosicionResponse"/>
</message>
<message name="enviarDireccion">
<part name="parameters" element="tns:enviarDireccion"/>
</message>
<message name="enviarDireccionResponse">
<part name="parameters" element="tns:enviarDireccionResponse"/>
</message>
<message name="enviarProducto">
<part name="parameters" element="tns:enviarProducto"/>
</message>
<message name="enviarProductoResponse">
<part name="parameters" element="tns:enviarProductoResponse"/>
</message>
<message name="enviarServicio">
<part name="parameters" element="tns:enviarServicio"/>
</message>
<message name="enviarServicioResponse">
<part name="parameters" element="tns:enviarServicioResponse"/>
</message>
<message name="enviarTipoEnvase">
<part name="parameters" element="tns:enviarTipoEnvase"/>
</message>
<message name="enviarTipoEnvaseResponse">
<part name="parameters" element="tns:enviarTipoEnvaseResponse"/>
</message>
<message name="enviarUsuario">
<part name="parameters" element="tns:enviarUsuario"/>
</message>
<message name="enviarUsuarioResponse">
<part name="parameters" element="tns:enviarUsuarioResponse"/>
</message>
<message name="enviarCliente">
<part name="parameters" element="tns:enviarCliente"/>
</message>
<message name="enviarClienteResponse">
<part name="parameters" element="tns:enviarClienteResponse"/>
</message>
<message name="guardarUsuario">
<part name="parameters" element="tns:guardarUsuario"/>
</message>
<message name="guardarUsuarioResponse">
<part name="parameters" element="tns:guardarUsuarioResponse"/>
</message>
<message name="actualizaUsuario">
<part name="parameters" element="tns:actualizaUsuario"/>
</message>
<message name="actualizaUsuarioResponse">
<part name="parameters" element="tns:actualizaUsuarioResponse"/>
</message>
<message name="guardaCliente">
<part name="parameters" element="tns:guardaCliente"/>
</message>
<message name="guardaClienteResponse">
<part name="parameters" element="tns:guardaClienteResponse"/>
</message>
<message name="guardaProducto">
<part name="parameters" element="tns:guardaProducto"/>
</message>
<message name="guardaProductoResponse">
<part name="parameters" element="tns:guardaProductoResponse"/>
</message>
<message name="todosVendedores">
<part name="parameters" element="tns:todosVendedores"/>
</message>
<message name="todosVendedoresResponse">
<part name="parameters" element="tns:todosVendedoresResponse"/>
</message>
<message name="guardaTipoEnvase">
<part name="parameters" element="tns:guardaTipoEnvase"/>
</message>
<message name="guardaTipoEnvaseResponse">
<part name="parameters" element="tns:guardaTipoEnvaseResponse"/>
</message>
<message name="guardaDireccion">
<part name="parameters" element="tns:guardaDireccion"/>
</message>
<message name="guardaDireccionResponse">
<part name="parameters" element="tns:guardaDireccionResponse"/>
</message>
<message name="actualizaCliente">
<part name="parameters" element="tns:actualizaCliente"/>
</message>
<message name="actualizaClienteResponse">
<part name="parameters" element="tns:actualizaClienteResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="actualizaPosicion">
<part name="parameters" element="tns:actualizaPosicion"/>
</message>
<message name="actualizaPosicionResponse">
<part name="parameters" element="tns:actualizaPosicionResponse"/>
</message>
<message name="guardarPosicion">
<part name="parameters" element="tns:guardarPosicion"/>
</message>
<message name="guardarPosicionResponse">
<part name="parameters" element="tns:guardarPosicionResponse"/>
</message>
<portType name="CaGuela">
<operation name="guardaPedido">
<input wsam:Action="http://CaGuela/CaGuela/guardaPedidoRequest" message="tns:guardaPedido"/>
<output wsam:Action="http://CaGuela/CaGuela/guardaPedidoResponse" message="tns:guardaPedidoResponse"/>
</operation>
<operation name="actualizaPedido">
<input wsam:Action="http://CaGuela/CaGuela/actualizaPedidoRequest" message="tns:actualizaPedido"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaPedidoResponse" message="tns:actualizaPedidoResponse"/>
</operation>
<operation name="actualizaDireccion">
<input wsam:Action="http://CaGuela/CaGuela/actualizaDireccionRequest" message="tns:actualizaDireccion"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaDireccionResponse" message="tns:actualizaDireccionResponse"/>
</operation>
<operation name="actualizaProducto">
<input wsam:Action="http://CaGuela/CaGuela/actualizaProductoRequest" message="tns:actualizaProducto"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaProductoResponse" message="tns:actualizaProductoResponse"/>
</operation>
<operation name="actualizaTipoEnvase">
<input wsam:Action="http://CaGuela/CaGuela/actualizaTipoEnvaseRequest" message="tns:actualizaTipoEnvase"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaTipoEnvaseResponse" message="tns:actualizaTipoEnvaseResponse"/>
</operation>
<operation name="productosCompradosHabitualmente">
<input wsam:Action="http://CaGuela/CaGuela/productosCompradosHabitualmenteRequest" message="tns:productosCompradosHabitualmente"/>
<output wsam:Action="http://CaGuela/CaGuela/productosCompradosHabitualmenteResponse" message="tns:productosCompradosHabitualmenteResponse"/>
</operation>
<operation name="pedidosCliente">
<input wsam:Action="http://CaGuela/CaGuela/pedidosClienteRequest" message="tns:pedidosCliente"/>
<output wsam:Action="http://CaGuela/CaGuela/pedidosClienteResponse" message="tns:pedidosClienteResponse"/>
</operation>
<operation name="pedidosVendedor">
<input wsam:Action="http://CaGuela/CaGuela/pedidosVendedorRequest" message="tns:pedidosVendedor"/>
<output wsam:Action="http://CaGuela/CaGuela/pedidosVendedorResponse" message="tns:pedidosVendedorResponse"/>
</operation>
<operation name="productosGamaVendedor">
<input wsam:Action="http://CaGuela/CaGuela/productosGamaVendedorRequest" message="tns:productosGamaVendedor"/>
<output wsam:Action="http://CaGuela/CaGuela/productosGamaVendedorResponse" message="tns:productosGamaVendedorResponse"/>
</operation>
<operation name="posicionesPendientesVendedor">
<input wsam:Action="http://CaGuela/CaGuela/posicionesPendientesVendedorRequest" message="tns:posicionesPendientesVendedor"/>
<output wsam:Action="http://CaGuela/CaGuela/posicionesPendientesVendedorResponse" message="tns:posicionesPendientesVendedorResponse"/>
</operation>
<operation name="enviarPedido">
<input wsam:Action="http://CaGuela/CaGuela/enviarPedidoRequest" message="tns:enviarPedido"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarPedidoResponse" message="tns:enviarPedidoResponse"/>
</operation>
<operation name="enviarPosicion">
<input wsam:Action="http://CaGuela/CaGuela/enviarPosicionRequest" message="tns:enviarPosicion"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarPosicionResponse" message="tns:enviarPosicionResponse"/>
</operation>
<operation name="enviarDireccion">
<input wsam:Action="http://CaGuela/CaGuela/enviarDireccionRequest" message="tns:enviarDireccion"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarDireccionResponse" message="tns:enviarDireccionResponse"/>
</operation>
<operation name="enviarProducto">
<input wsam:Action="http://CaGuela/CaGuela/enviarProductoRequest" message="tns:enviarProducto"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarProductoResponse" message="tns:enviarProductoResponse"/>
</operation>
<operation name="enviarServicio">
<input wsam:Action="http://CaGuela/CaGuela/enviarServicioRequest" message="tns:enviarServicio"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarServicioResponse" message="tns:enviarServicioResponse"/>
</operation>
<operation name="enviarTipoEnvase">
<input wsam:Action="http://CaGuela/CaGuela/enviarTipoEnvaseRequest" message="tns:enviarTipoEnvase"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarTipoEnvaseResponse" message="tns:enviarTipoEnvaseResponse"/>
</operation>
<operation name="enviarUsuario">
<input wsam:Action="http://CaGuela/CaGuela/enviarUsuarioRequest" message="tns:enviarUsuario"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarUsuarioResponse" message="tns:enviarUsuarioResponse"/>
</operation>
<operation name="enviarCliente">
<input wsam:Action="http://CaGuela/CaGuela/enviarClienteRequest" message="tns:enviarCliente"/>
<output wsam:Action="http://CaGuela/CaGuela/enviarClienteResponse" message="tns:enviarClienteResponse"/>
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://CaGuela/CaGuela/guardarUsuarioRequest" message="tns:guardarUsuario"/>
<output wsam:Action="http://CaGuela/CaGuela/guardarUsuarioResponse" message="tns:guardarUsuarioResponse"/>
</operation>
<operation name="actualizaUsuario">
<input wsam:Action="http://CaGuela/CaGuela/actualizaUsuarioRequest" message="tns:actualizaUsuario"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaUsuarioResponse" message="tns:actualizaUsuarioResponse"/>
</operation>
<operation name="guardaCliente">
<input wsam:Action="http://CaGuela/CaGuela/guardaClienteRequest" message="tns:guardaCliente"/>
<output wsam:Action="http://CaGuela/CaGuela/guardaClienteResponse" message="tns:guardaClienteResponse"/>
</operation>
<operation name="guardaProducto">
<input wsam:Action="http://CaGuela/CaGuela/guardaProductoRequest" message="tns:guardaProducto"/>
<output wsam:Action="http://CaGuela/CaGuela/guardaProductoResponse" message="tns:guardaProductoResponse"/>
</operation>
<operation name="todosVendedores">
<input wsam:Action="http://CaGuela/CaGuela/todosVendedoresRequest" message="tns:todosVendedores"/>
<output wsam:Action="http://CaGuela/CaGuela/todosVendedoresResponse" message="tns:todosVendedoresResponse"/>
</operation>
<operation name="guardaTipoEnvase">
<input wsam:Action="http://CaGuela/CaGuela/guardaTipoEnvaseRequest" message="tns:guardaTipoEnvase"/>
<output wsam:Action="http://CaGuela/CaGuela/guardaTipoEnvaseResponse" message="tns:guardaTipoEnvaseResponse"/>
</operation>
<operation name="guardaDireccion">
<input wsam:Action="http://CaGuela/CaGuela/guardaDireccionRequest" message="tns:guardaDireccion"/>
<output wsam:Action="http://CaGuela/CaGuela/guardaDireccionResponse" message="tns:guardaDireccionResponse"/>
</operation>
<operation name="actualizaCliente">
<input wsam:Action="http://CaGuela/CaGuela/actualizaClienteRequest" message="tns:actualizaCliente"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaClienteResponse" message="tns:actualizaClienteResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://CaGuela/CaGuela/loginRequest" message="tns:login"/>
<output wsam:Action="http://CaGuela/CaGuela/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="actualizaPosicion">
<input wsam:Action="http://CaGuela/CaGuela/actualizaPosicionRequest" message="tns:actualizaPosicion"/>
<output wsam:Action="http://CaGuela/CaGuela/actualizaPosicionResponse" message="tns:actualizaPosicionResponse"/>
</operation>
<operation name="guardarPosicion">
<input wsam:Action="http://CaGuela/CaGuela/guardarPosicionRequest" message="tns:guardarPosicion"/>
<output wsam:Action="http://CaGuela/CaGuela/guardarPosicionResponse" message="tns:guardarPosicionResponse"/>
</operation>
</portType>
<binding name="CaGuelaPortBinding" type="tns:CaGuela">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="guardaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaTipoEnvase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productosCompradosHabitualmente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productosGamaVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posicionesPendientesVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPosicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarTipoEnvase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosVendedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaTipoEnvase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaPosicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarPosicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CaGuela">
<port name="CaGuelaPort" binding="tns:CaGuelaPortBinding">
<soap:address location="http://localhost:8080/WSProyectoCaGuela3_4/CaGuela"/>
</port>
</service>
</definitions>