src/META-INF/wsdl/localhost_8080/WSProyectoCaGuela3_4/WSCaGuela.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CaGuela/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CaGuela/" name="WSCaGuela">
<types>
<xsd:schema>
<xsd:import namespace="http://CaGuela/" schemaLocation="http://localhost:8080/WSProyectoCaGuela3_4/WSCaGuela?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="enviarCliente">
<part name="parameters" element="tns:enviarCliente"/>
</message>
<message name="enviarClienteResponse">
<part name="parameters" element="tns:enviarClienteResponse"/>
</message>
<message name="enviarProducto">
<part name="parameters" element="tns:enviarProducto"/>
</message>
<message name="enviarProductoResponse">
<part name="parameters" element="tns:enviarProductoResponse"/>
</message>
<message name="enviarTipoEnvase">
<part name="parameters" element="tns:enviarTipoEnvase"/>
</message>
<message name="enviarTipoEnvaseResponse">
<part name="parameters" element="tns:enviarTipoEnvaseResponse"/>
</message>
<message name="guardarUsuario">
<part name="parameters" element="tns:guardarUsuario"/>
</message>
<message name="guardarUsuarioResponse">
<part name="parameters" element="tns:guardarUsuarioResponse"/>
</message>
<message name="enviarPedido">
<part name="parameters" element="tns:enviarPedido"/>
</message>
<message name="enviarPedidoResponse">
<part name="parameters" element="tns:enviarPedidoResponse"/>
</message>
<message name="enviarDireccion">
<part name="parameters" element="tns:enviarDireccion"/>
</message>
<message name="enviarDireccionResponse">
<part name="parameters" element="tns:enviarDireccionResponse"/>
</message>
<message name="enviarUsuario">
<part name="parameters" element="tns:enviarUsuario"/>
</message>
<message name="enviarUsuarioResponse">
<part name="parameters" element="tns:enviarUsuarioResponse"/>
</message>
<message name="enviarServicio">
<part name="parameters" element="tns:enviarServicio"/>
</message>
<message name="enviarServicioResponse">
<part name="parameters" element="tns:enviarServicioResponse"/>
</message>
<message name="enviarPosicion">
<part name="parameters" element="tns:enviarPosicion"/>
</message>
<message name="enviarPosicionResponse">
<part name="parameters" element="tns:enviarPosicionResponse"/>
</message>
<message name="guardaCliente">
<part name="parameters" element="tns:guardaCliente"/>
</message>
<message name="guardaClienteResponse">
<part name="parameters" element="tns:guardaClienteResponse"/>
</message>
<message name="actualizaCliente">
<part name="parameters" element="tns:actualizaCliente"/>
</message>
<message name="actualizaClienteResponse">
<part name="parameters" element="tns:actualizaClienteResponse"/>
</message>
<message name="guardaDireccion">
<part name="parameters" element="tns:guardaDireccion"/>
</message>
<message name="guardaDireccionResponse">
<part name="parameters" element="tns:guardaDireccionResponse"/>
</message>
<message name="pedidosVendedor">
<part name="parameters" element="tns:pedidosVendedor"/>
</message>
<message name="pedidosVendedorResponse">
<part name="parameters" element="tns:pedidosVendedorResponse"/>
</message>
<message name="productosGamaVendedor">
<part name="parameters" element="tns:productosGamaVendedor"/>
</message>
<message name="productosGamaVendedorResponse">
<part name="parameters" element="tns:productosGamaVendedorResponse"/>
</message>
<message name="productosCompradosHabitualmente">
<part name="parameters" element="tns:productosCompradosHabitualmente"/>
</message>
<message name="productosCompradosHabitualmenteResponse">
<part name="parameters" element="tns:productosCompradosHabitualmenteResponse"/>
</message>
<message name="pedidosCliente">
<part name="parameters" element="tns:pedidosCliente"/>
</message>
<message name="pedidosClienteResponse">
<part name="parameters" element="tns:pedidosClienteResponse"/>
</message>
<message name="todosVendedores">
<part name="parameters" element="tns:todosVendedores"/>
</message>
<message name="todosVendedoresResponse">
<part name="parameters" element="tns:todosVendedoresResponse"/>
</message>
<portType name="WSCaGuela">
<operation name="login">
<input wsam:Action="http://CaGuela/WSCaGuela/loginRequest" message="tns:login"/>
<output wsam:Action="http://CaGuela/WSCaGuela/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="enviarCliente">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarClienteRequest" message="tns:enviarCliente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarClienteResponse" message="tns:enviarClienteResponse"/>
</operation>
<operation name="enviarProducto">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarProductoRequest" message="tns:enviarProducto"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarProductoResponse" message="tns:enviarProductoResponse"/>
</operation>
<operation name="enviarTipoEnvase">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarTipoEnvaseRequest" message="tns:enviarTipoEnvase"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarTipoEnvaseResponse" message="tns:enviarTipoEnvaseResponse"/>
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://CaGuela/WSCaGuela/guardarUsuarioRequest" message="tns:guardarUsuario"/>
<output wsam:Action="http://CaGuela/WSCaGuela/guardarUsuarioResponse" message="tns:guardarUsuarioResponse"/>
</operation>
<operation name="enviarPedido">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarPedidoRequest" message="tns:enviarPedido"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarPedidoResponse" message="tns:enviarPedidoResponse"/>
</operation>
<operation name="enviarDireccion">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarDireccionRequest" message="tns:enviarDireccion"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarDireccionResponse" message="tns:enviarDireccionResponse"/>
</operation>
<operation name="enviarUsuario">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarUsuarioRequest" message="tns:enviarUsuario"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarUsuarioResponse" message="tns:enviarUsuarioResponse"/>
</operation>
<operation name="enviarServicio">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarServicioRequest" message="tns:enviarServicio"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarServicioResponse" message="tns:enviarServicioResponse"/>
</operation>
<operation name="enviarPosicion">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarPosicionRequest" message="tns:enviarPosicion"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarPosicionResponse" message="tns:enviarPosicionResponse"/>
</operation>
<operation name="guardaCliente">
<input wsam:Action="http://CaGuela/WSCaGuela/guardaClienteRequest" message="tns:guardaCliente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/guardaClienteResponse" message="tns:guardaClienteResponse"/>
</operation>
<operation name="actualizaCliente">
<input wsam:Action="http://CaGuela/WSCaGuela/actualizaClienteRequest" message="tns:actualizaCliente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/actualizaClienteResponse" message="tns:actualizaClienteResponse"/>
</operation>
<operation name="guardaDireccion">
<input wsam:Action="http://CaGuela/WSCaGuela/guardaDireccionRequest" message="tns:guardaDireccion"/>
<output wsam:Action="http://CaGuela/WSCaGuela/guardaDireccionResponse" message="tns:guardaDireccionResponse"/>
</operation>
<operation name="pedidosVendedor">
<input wsam:Action="http://CaGuela/WSCaGuela/pedidosVendedorRequest" message="tns:pedidosVendedor"/>
<output wsam:Action="http://CaGuela/WSCaGuela/pedidosVendedorResponse" message="tns:pedidosVendedorResponse"/>
</operation>
<operation name="productosGamaVendedor">
<input wsam:Action="http://CaGuela/WSCaGuela/productosGamaVendedorRequest" message="tns:productosGamaVendedor"/>
<output wsam:Action="http://CaGuela/WSCaGuela/productosGamaVendedorResponse" message="tns:productosGamaVendedorResponse"/>
</operation>
<operation name="productosCompradosHabitualmente">
<input wsam:Action="http://CaGuela/WSCaGuela/productosCompradosHabitualmenteRequest" message="tns:productosCompradosHabitualmente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/productosCompradosHabitualmenteResponse" message="tns:productosCompradosHabitualmenteResponse"/>
</operation>
<operation name="pedidosCliente">
<input wsam:Action="http://CaGuela/WSCaGuela/pedidosClienteRequest" message="tns:pedidosCliente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/pedidosClienteResponse" message="tns:pedidosClienteResponse"/>
</operation>
<operation name="todosVendedores">
<input wsam:Action="http://CaGuela/WSCaGuela/todosVendedoresRequest" message="tns:todosVendedores"/>
<output wsam:Action="http://CaGuela/WSCaGuela/todosVendedoresResponse" message="tns:todosVendedoresResponse"/>
</operation>
</portType>
<binding name="WSCaGuelaPortBinding" type="tns:WSCaGuela">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarTipoEnvase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPosicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productosGamaVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productosCompradosHabitualmente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosVendedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCaGuela">
<port name="WSCaGuelaPort" binding="tns:WSCaGuelaPortBinding">
<soap:address location="http://localhost:8080/WSProyectoCaGuela3_4/WSCaGuela"/>
</port>
</service>
</definitions>